* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial sans-serif; }

.btn {
  -webkit-appearance: button;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  margin: 0.15rem;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem; }
  .btn:hover {
    color: #fff;
    background-color: #1eaedb;
    border-color: #1eaedb;
    outline: 0; }

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.8px 0; }

input[type="range"]:focus {
  outline: none; }

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(0, 1, 180, 0.11);
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1.2px 1.2px 1.7px #000000, 0px 0px 1.2px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 36px;
  background: rgba(42, 0, 255, 0.8);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px; }

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(0, 1, 206, 0.11); }

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(0, 1, 180, 0.11);
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

input[type="range"]::-moz-range-thumb {
  box-shadow: 1.2px 1.2px 1.7px #000000, 0px 0px 1.2px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 36px;
  background: rgba(42, 0, 255, 0.8);
  cursor: pointer; }

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type="range"]::-ms-fill-lower {
  background: rgba(0, 1, 155, 0.11);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]::-ms-fill-upper {
  background: rgba(0, 1, 180, 0.11);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]::-ms-thumb {
  box-shadow: 1.2px 1.2px 1.7px #000000, 0px 0px 1.2px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 36px;
  background: rgba(42, 0, 255, 0.8);
  cursor: pointer;
  height: 8.4px; }

input[type="range"]:focus::-ms-fill-lower {
  background: rgba(0, 1, 180, 0.11); }

input[type="range"]:focus::-ms-fill-upper {
  background: rgba(0, 1, 206, 0.11); }

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.8px 0; }

input[type="range"]:focus {
  outline: none; }

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(0, 1, 180, 0.11);
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1.2px 1.2px 1.7px #000000, 0px 0px 1.2px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 36px;
  background: rgba(42, 0, 255, 0.8);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px; }

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(0, 1, 206, 0.11); }

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(0, 1, 180, 0.11);
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

input[type="range"]::-moz-range-thumb {
  box-shadow: 1.2px 1.2px 1.7px #000000, 0px 0px 1.2px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 36px;
  background: rgba(42, 0, 255, 0.8);
  cursor: pointer; }

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type="range"]::-ms-fill-lower {
  background: rgba(0, 1, 155, 0.11);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]::-ms-fill-upper {
  background: rgba(0, 1, 180, 0.11);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]::-ms-thumb {
  box-shadow: 1.2px 1.2px 1.7px #000000, 0px 0px 1.2px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 36px;
  background: rgba(42, 0, 255, 0.8);
  cursor: pointer;
  height: 8.4px; }

input[type="range"]:focus::-ms-fill-lower {
  background: rgba(0, 1, 180, 0.11); }

input[type="range"]:focus::-ms-fill-upper {
  background: rgba(0, 1, 206, 0.11); }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0.2rem 0; }

.App {
  display: grid;
  margin: 3rem;
  grid-gap: 2rem 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "player controls controls"; }
  .App .player-wrapper {
    grid-area: player;
    position: relative;
    padding-top: 56.25%;
    /* Player ratio: 100 / (1280 / 720) */ }
  .App .react-player {
    position: absolute;
    top: 0;
    left: 0; }
  .App .controls {
    grid-area: controls; }

@media screen and (max-width: 1280px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-areas: "player" "controls"; } }
