@import "config";
@import "navbar";

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0.2rem 0;
}

.App {
  display: grid;
  margin: 3rem;
  grid-gap: 2rem 1rem;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar" "player" "chat" "controls";

  .player-wrapper {
    position: relative;
    padding-top: 56.25%;
  }

  .react-player {
    grid-area: player;
    position: absolute;
    top: 0;
    left: 0;
  }

  .chat {
    grid-area: chat;
  }

  #controls {
    grid-area: controls;
  }
}

@media screen and (max-width: 1280px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-areas:
      "player"
      "controls";
  }
}

@media screen and (max-width: 675px) {
}
